<div class="uk-margin-top">
    <form class="uk-form-stacked" action="/premium/deletePremium" method="POST">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-titulo" style="font-weight: bold;">ID del Producto</label>
            <div class="uk-form-controls">
            <input id="form-stacked-titulo" class="uk-input" type="text" name="id" placeholder="numero de ID" required>
            </div>
        </div>

        <button class="uk-button uk-button-secondary uk-button-small uk-margin-top boton" type="submit">Eliminar</button>
    </form>
</div>