<div class="chat uk-flex-stretch uk-height-1-1 uk-margin-remove" uk-grid>
  <h3 class="uk-align-center uk-text-bold uk-text-secondary">¡Bienvenido {{user.name}} al chat!</h3>
  <div id="messages" class="uk-child-width-1-1 uk-width-1-1 uk-padding-remove uk-margin-remove" uk-grid>
    
  </div>
  <div class="uk-child-width-1-1 uk-width-1-1 inputBox uk-padding-remove uk-margin-remove" uk-grid>
    <input class="uk-input" type="text" placeholder="" aria-label="Input">
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/chatMessage.js" defer></script>