<div class="uk-padding-large uk-child-width-1-1 centrar" uk-grid>
    <h3 style="color: black; font-weight: bold">Hasta luego, {{ name }}!</h3>
    <a href="/" style="color: blue; font-weight: bold">Ir a inicio</a>
</div>