<div class="uk-padding-large uk-child-width-1-1 centrar" uk-grid>
    <form action="" method="post">
        <div class="uk-margin">
            <h3>Ingrese su Email</h3>
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input name="email" class="uk-input uk-border-rounded" type="text" aria-label="Not clickable icon">
            </div>
        </div>

        {{#if error}}
            <div class="uk-margin">
                <div class="uk-inline">
                <span class="uk-form-danger">{{error}}</span>
                </div>
            </div>
        {{/if}}

        <button class="uk-button uk-button-default boton">Reset</button>
    </form>
</div>