<div class="uk-padding-large uk-child-width-1-1 centrar" uk-grid>
    <h2>Se te envio un correo electronico con el link para resetear el password</h2>
    <h2>Si no te llego, aprete aqui: <a style="color:red" href="/resetpasswordtoken">enviar nuevamente</a></h2>

    <a href="/login"><button class="uk-button uk-button-default boton">Volver al inicio</button></a>
</div>