#page-title {
    text-align: center;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

#page-background {
    background-color: rgb(192, 190, 56);
}

.img {
    text-align: center;
    border-radius: 20px;
}